<div class="banner" style="left:50%;">


<a routerLink="register" style = "position:absolute; left:740px; top:525px; background-color:yellow;"><button>Find your perfect home here.</button>
</a>
</div>     
    <div class="gallery">
      <img src="../../../assets/img/bnr3.jpg" alt="Snow" style="width:40%">
      <img src="../../../assets/img/bnr5.jpg" alt="Snow" style="width:40%">
      <img src="../../../assets/img/bnr4.jpg" alt="Snow" style="width:40%">
      <img src="../../../assets/img/bnr2.jpg" alt="Snow" style="width:40%">
    </div>

       

