<!DOCTYPE html>
<html>
    
    <body>
        <section>
            <div style="top:-15% ;" class = "image">
               <img  src="../../../assets/img/about.jpg">
             </div>

            <div class = "content">
                <h2>About Us</h2>
                <span></span>
                <p>Heaven Real Estate is continuously developing stand-alone and gated community residential apartments (condos), modern offices and retail space areas for various home investors for sale and rental.

                    We amplify to be a medium for creating individual wealth and role player in a diversified global approach through innovative designs, efficient construction methods in supplying well-crafted house solutions.
                    
                    Most of our projects are scattered in different parts of the rising city of Addis Ababa and future projects are also inclusive of mapping an ideal provision proclaimed by driving forces to foster and create significant impact for the well-being of our society. </p>
                <ul class = "links">
                    <li><a routerLink="contact-us">contact-us</a></li>
                    <div class = "vertical-line"></div>
                    
            
                </ul>
                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
                    <li>
                        <i class = "fa fa-github"></i>
                    </li>
                    <li>
                        <i class = "fa fa-pinterest"></i>
                    </li>
                </ul>
            </div>
        </section><br><br>
    
    </body>
</html>
